$box-shadow: rgba(#34495E, 0.25);
$background: #F2F4F4;

$start: #FEF9E7;
$middle: #F39C12; 
$end: #641E16;

$selected-background: #AED6F1;
$selected-hover-background: #85C1E9;

:export {
    start: $start;
    middle: $middle;
    end: $end;
}
