@import "../../../utils/variables";

:global(.mobile) {
    .basic-info-container {
        padding-bottom: 50px;
    }
}

.basic-info-container {
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
    animation: fade-in 250ms ease-out;
    overflow-y: auto;
}

.general-info {
    display: flex;
    flex-direction: column;

    > :not(:last-child) {
        margin-bottom: 5px;
    }
}

.title {
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.info {
    display: flex;
    flex: 1;
    align-items: center;
}

.label {
    display: flex;
}

.connector {
    display: flex;
    flex: 1;
    height: 1px;
    background: rgba(#D5D8DC, 0.75);
    margin: 0 10px;
}

.value {
    display: flex;
    justify-content: flex-end;
}

.date-info {
    display: flex;
    flex: 1;
    align-items: center;
    margin-top: 10px;
    color: #99A3A4;
}

.date-label {
    display: flex;
    flex: 1;
}

.date-value {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.testing-information {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    > :not(:last-child) {
        margin-bottom: 5px;
    }
}
