@import "../../../utils/variables";

.basic-info {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
    animation: fade-in 250ms ease-out;

    > :not(:last-child) {
        margin-bottom: 5px;
    }
}

.info {
    display: flex;
    flex: 1;
    align-items: center;
}

.label {
    display: flex;
}

.connector {
    display: flex;
    flex: 1;
    height: 1px;
    background: $box-shadow;
    margin: 0 10px;
}

.value {
    display: flex;
    justify-content: flex-end;
}

.date-info {
    display: flex;
    flex: 1;
    align-items: center;
    margin-top: 10px;
    color: #99A3A4;
}

.date-label {
    display: flex;
    flex: 1;
}

.date-value {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    font-weight: 550;
}
