@import "../../utils/variables";

.internal-container {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.deep-dive-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 1px 0 $box-shadow, -1px 0 $box-shadow, 0 1px $box-shadow, 0 -1px $box-shadow;
    background: $background;
    width: 500px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px $box-shadow;
    padding: 10px
}
