.cases {
    fill: none;
    stroke:#5DADE2;
    stroke-width: 2px;
}

.active-cases {
    fill: none;
    stroke: #B03A2E;
    stroke-width: 2px;
}

.deaths {
    fill: none;
    stroke: #566573;
    stroke-width: 2px;
}

.recovered {
    fill: none;
    stroke: #52BE80;
    stroke-width: 2px;
}

.svg-container {
    margin-top: 1px;
}
