@import "../../utils/variables";

$default-gray: #CCD1D1;

:global(.mobile) {
    .state {
        stroke-width: 0.35px;
    }
}

:global(.browser) {
    .state {
        stroke-width: 0.65px;
    }
}

.state {
    stroke: #34495E;
    cursor: pointer;

    &:hover {
        fill: #F4D03F;
    }
}

.state-no-data.state-no-data {
    fill: $default-gray;
    cursor: not-allowed;

    &:hover {
        fill: #99A3A4;
        stroke: #5D6D7E;
    }
}

.highlight-feature {
    fill: #F1C40F;
}

.center-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.svg-map {
    position: relative;
    overflow: hidden;
    background: rgba(#EBF5FB, 0.5);
}

.center {
    position: absolute;
    transform: translateY(50%);
}

:export {
    defaultGray: $default-gray;
}
