.browser-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.panel-container {
    display: flex;
    flex: 1;
    z-index: 1;
    width: 450px;
    height: 100%;
}

.basic-info-container {
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    z-index: 1;
}
