.browser-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.panel-container {
    display: flex;
    flex: 1;
    z-index: 1;
    width: 450px;
    height: 100%;
}

.info-container {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 1;
}
