@import "../utils/variables";

.tablet-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    width: 100%;

    * {
        font-size: 16px;
    }
}

.map-container {
    display: flex;
    flex: 1 0 50%;
    min-height: 50vh;
    position: relative;
}

.information {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}

.stats-container {
    display: flex;
    flex: 1 0 50%;
    z-index: 1;
    min-height: 50vh;
    box-shadow: 0 -1px $box-shadow;
    padding-top: 1px;
}
