@import "../utils/variables";

.tablet-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    width: 100%;

    * {
        font-size: 16px;
    }
}

.map-container {
    display: flex;
    flex: 1 0 50%;
    min-height: 50vh;
    position: relative;
}

.stats-container {
    display: flex;
    flex: 1 0 50%;
    z-index: 1;
    min-height: 50vh;
    box-shadow: 0 -1px $box-shadow;
    padding-top: 1px;
}

.left-container {
    display: flex;
    flex: 1;
}

.right-container {
    display: flex;
    flex: 2;
    padding: 10px;
    position: relative;
}

.basic-info-container {
    position: absolute;
    top: 445px;
    left: 20px;
    width: 300px;
}