@import "../../utils/variables";

.breadcrumb-container {
    display: flex;
    flex-shrink: 0;
    padding: 10px;
}

.breadcrumb-top-container {
    display: flex;
}

.breadcrumb-bottom-container {
    display: flex;
    font-size: 20px;
    font-weight: 600;
}

.national-breadcrumb-container {
    display: flex;
    flex-shrink: 0;
    align-items: baseline;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
}

.go-to-my-county {
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

.go-to-my-county-margin {
    margin-top: 5px;
}

.breadcrumb {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.selectable-breadcrumb {
    cursor: pointer;
    color: #1F618D;

    &:hover {
        color: #5DADE2;
    }
}

.breadcrumb-icon {
    margin-left: 10px;
}
