@import "../../utils/variables";

.legend-container {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.legend-ticks {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

:global(.mobile) {
    .legend {
        height: 10px;
        width: 125px;
    }
}

:global(.browser) {
    .legend {
        height: 20px;
        width: 250px;
    }
}

.legend {
    height: 20px;
    background: linear-gradient(to right, $start, $middle, $end);
    border-radius: 3px;
}
