@import "../../utils/variables";

:global(.browser) {
    .map-color-container {
        bottom: 20px;
        left: 50%;

        > :not(:last-child) {
            margin-right: 5px;
        }
    }
}

:global(.mobile) {
    .map-color-container {
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        overflow-x: auto;

        > :not(:last-child) {
            margin-right: 5px;
        }
    }
}

.map-color-container {
    position: absolute;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.single-option {
    display: flex;
    align-items: center;
    padding: 3px 5px;
    cursor: pointer;
    border-radius: 3px;

    &:hover {
        background: rgba(#F4D03F, 0.75);
    }
}

.title {
    font-weight: 600;
}

.active {
    background: #F1C40F;
}