@import "../../utils/variables";

.breakdown-list-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: $background;
    animation: fade-in 200ms ease-out;
}

.filter-container {
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
    border-bottom: 2px solid #34495E;

    :global(.bp3-input-group) {
        display: flex;
        flex: 1;
    }
}

.column-headers {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px 0;
}

:global(.browser) {
    .case-breakdown-container {
        &::-webkit-scrollbar {
            width: 5px;
        }
    
        &::-webkit-scrollbar-track {
            background: rgba(#AEB6BF, 0.25);
        }
    
        &::-webkit-scrollbar-thumb {
            width: 5px;
            background-color: rgba(#616A6B, 0.5);
        }
    }
}

.case-breakdown-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
    padding-bottom: 90px;

    > :nth-child(odd) {
        background: #E5E8E8;
    }
}

.single-breakdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 1px;
    min-height: 40px;
    cursor: pointer;

    &:hover {
        background: rgba(#85C1E9, 0.75);
    }
}

.total-cases-column {
    margin-left: 5px;
}

.is-open.is-open {
    background: $selected-background;

    &.single-breakdown:hover {
        background: $selected-hover-background;
    }
}
