@import "../../utils/variables";

.breakdown-list-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: $background;
    box-shadow: 1px 0 $box-shadow;
}

.title-container {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0 1px $box-shadow;
}

.title-text {
    margin: 10px;
}

.title-back-button {
    margin-left: 5px;
}

.total-cases-container {
    display: flex;
    font-size: 15px;
    padding: 10px;
    box-shadow: 0 1px $box-shadow;
}

.filter-container {
    display: flex;
    padding: 10px 5px;
    box-shadow: 0 1px $box-shadow;

    :global(.bp3-input-group) {
        display: flex;
        flex: 1;
    }
}

.case-breakdown-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 1px;

    &.browser {
        &::-webkit-scrollbar {
            width: 5px;
        }
    
        &::-webkit-scrollbar-track {
            background: rgba(#AEB6BF, 0.25);
        }
    
        &::-webkit-scrollbar-thumb {
            width: 5px;
            background-color: rgba(#616A6B, 0.5);
        }
    }
}

.single-breakdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 1px $box-shadow;
    margin-top: 1px;
    min-height: 40px;
    cursor: pointer;

    &.browser {
        &:hover {
            background: rgba(#85C1E9, 0.75);
        }
    }
}

.is-open {
    background: $selected-background;

    &.single-breakdown:hover {
        background: $selected-hover-background;
    }
}
