@import "../../utils/variables";

.panel-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    box-shadow: -1px 0 $box-shadow, 1px 0 $box-shadow, 0 1px $box-shadow, 0 -1px $box-shadow;
    background: $background;
}

:global(.mobile) {
    .tabs {
        :global(.bp3-tab-list) {
            max-width: 100vw;
            overflow-x: auto;

            > :last-child {
                padding-right: 20px;
            }
        }
    }
}

.tabs {
    height: 100%;

    :global(.bp3-tab-list) {
        padding: 5px 10px 0;
        border-bottom: 1px solid $box-shadow;
    }

    :global(.bp3-tab-panel) {
        display: flex;
        height: 100%;
        margin-top: 0;
    }
}
