@import "../../utils/variables";

.non-ideal-state {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: flex-start;
    padding: 20px;
}

.spinner {
    display: flex;
    flex: 1;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}

.projection-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    animation: fade-in 200ms ease-out;
    overflow-y: auto;
}

.projections-data-container {
    flex-direction: column;
    padding: 10px;
}

.single-projection-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-bottom: 20px
}

:global(.mobile) {
    .projection-container {
        padding-bottom: 150px;
    }

    .single-projection-container {
        min-height: 70px;
    }

    .single-intervention-container {
        min-height: 70px;
    }
}

.upper-text {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.bottom-text {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
}

.main-text-highlight {
    margin: 0 3px;
    font-weight: 650;
}

.spacing-for-date {
    display: flex;
    margin-right: 3px;
}

.number-spacing {
    display: flex;
}

.icon {
    margin-left: 10px;

    &.green {
        color: #52BE80;
    }

    &.red {
        color: #EC7063;
    }
}

.interventions-container {
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 -1px $box-shadow;
}

.interventions-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.single-intervention-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.description {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.description-icon {
    color: #1A5276;
    margin-right: 10px;
}

.date {
    margin-left: 50px;
}
